h1 {
  font: bold 2.2em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  text-align: center;
}

h5 {
  font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  text-align: center;
}

button {
  display: inline-block;
  height: 2em;
  width: 3em;
  font: 1.1em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
}

#longWidth {
  width: 6em;
}


.bottom {
  margin-left: 3em;
}
