html {
  background-image: url(https://media.giphy.com/media/l3978y5HqiEtqupiM/giphy.gif);
  background-size: cover;
}

h1 {
  font: bold 2.2em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  text-align: center;
}

h5 {
  font: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  text-align: center;
}

table {

}

button {
  display: inline-block;
  height: 4em;
  width: 6em;
  font: 1.1em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  cursor: pointer;
}

td.output {
  height: 90px;
  background-color: grey;
}

.longWidth {
  width: 12.3em;
}

.longheight {
  height: 8.3em;
}

#orange {
  background-color: orange;
}

#blank {
  color: white;
  background-color: white;
}

#calc-output {
  text-align: right;
  font: 1.1em "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  font-size: 40px;
  background-color: grey;
  border-style: hidden;
}
